@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #1f1f38;
  color: #fff;
  line-height: 1.7;
  background-image: url(../assets/bg-texture.png);
}

/* ========== GENERAL STYLES ========== */
.container {
  width: 75%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

section > h2 {
  color: #4db5ff;
  margin-bottom: 3rem;
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #4db5ff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

a:hover {
  color: #fff;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.btn:hover {
  background: #fff;
  color: #1f1f38;
  border-color: transparent;
}

.btn-primary {
  background: #4db5ff;
  color: #1f1f38;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .container {
    width: 86%;
  }
  section {
    margin-top: 6rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  section {
    margin-bottom: 2rem;
  }
}

.about_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 50%;
      grid-template-columns: 35% 50%;
  gap: 15%;
}

.about_container .about_me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #4db5ff, transparent);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about_container .about_me .about_me-image {
  border-radius: 2rem;
  overflow: hidden;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.about_container .about_me .about_me-image:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.about_container .about_content .about_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about_container .about_content .about_cards .about_card {
  background: #2c2c6c;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.about_container .about_content .about_cards .about_card h5 {
  font-size: 0.95rem;
}

.about_container .about_content .about_cards .about_card:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: default;
}

.about_container .about_content .about_cards .about_card .about_icon {
  color: #4db5ff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about_container .about_content .about_cards .about_card small {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
}

.about_container .about_content p {
  margin: 2rem 0 2.6rem;
  color: rgba(255, 255, 255, 0.6);
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .about_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
  .about_container .about_me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about_container .about_content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .about_container .about_me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about_container .about_content {
    text-align: center;
  }
  .about_container .about_content .about_cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about_container .about_content p {
    margin: 1.5rem 0;
  }
}

#contact .contact_container {
  widows: 58%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 58%;
      grid-template-columns: 30% 58%;
  gap: 12%;
  /* ========== FORM ========== */
}

#contact .contact_container .contact_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

#contact .contact_container .contact_options .contact_option {
  background: #2c2c6c;
  border-radius: 1.2rem;
  padding: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#contact .contact_container .contact_options .contact_option:hover {
  background-color: transparent;
  border: 1px solid rgba(77, 181, 255, 0.4);
}

#contact .contact_container .contact_options .contact_option .contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#contact .contact_container .contact_options .contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

#contact .contact_container .contact_options .contact_option h5 {
  color: rgba(255, 255, 255, 0.6);
}

#contact .contact_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

#contact .contact_container form input, #contact .contact_container form textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background: transparent;
  border: 2px solid rgba(77, 181, 255, 0.4);
  resize: none;
  color: #fff;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  #contact .contact_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
    /* ========== FORM ========== */
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  #contact .contact_container {
    width: 90%;
    /* ========== FORM ========== */
  }
}

#experience .experience_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#experience .experience_container .experience_frontend, #experience .experience_container .experience_backend {
  background: #2c2c6c;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#experience .experience_container .experience_frontend:hover, #experience .experience_container .experience_backend:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}

#experience .experience_container .experience_frontend h3, #experience .experience_container .experience_backend h3 {
  color: #4db5ff;
  text-align: center;
  margin-bottom: 2rem;
}

#experience .experience_container .experience_frontend .experience_content, #experience .experience_container .experience_backend .experience_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

#experience .experience_container .experience_frontend .experience_content article, #experience .experience_container .experience_backend .experience_content article {
  margin: 0 auto;
}

#experience .experience_container .experience_frontend .experience_content .experience_details, #experience .experience_container .experience_backend .experience_content .experience_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#experience .experience_container .experience_frontend .experience_content .experience_details-icon, #experience .experience_container .experience_backend .experience_content .experience_details-icon {
  margin-top: 6px;
  color: #4db5ff;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  #experience .experience_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #experience .experience_container .experience_frontend, #experience .experience_container .experience_backend {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  #experience .experience_container .experience_frontend .experience_content, #experience .experience_container .experience_backend .experience_content {
    padding: 1rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  #experience .experience_container {
    gap: 1rem;
  }
  #experience .experience_container .experience_frontend, #experience .experience_container .experience_backend {
    width: 100%;
    padding: 2rem 1rem;
  }
}

footer {
  background: #4db5ff;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: #1f1f38;
}

footer .footer_logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

footer .permalinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

footer .footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

footer .footer_socials a {
  background: #1f1f38;
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
}

footer .footer_socials a:hover {
  background: transparent;
  color: #1f1f38;
  border-color: #1f1f38;
}

footer .footer_copyright {
  margin-bottom: 4rem;
  color: #1f1f38;
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  footer .permalinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ========== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ========== HEADER SOCIALS ========== */
.header_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: #4db5ff;
}

/* ========== ME ========== */
.me {
  background: -webkit-gradient(linear, left top, left bottom, from(#4db5ff), to(transparent));
  background: linear-gradient(#4db5ff, transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ========== SCROLL DOWN ========== */
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials, .scroll_down {
    display: none;
  }
}

nav {
  background: rgba(0, 0, 0, 0.3);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: #1f1f38;
  color: #fff;
}

#portfolio .portfolio_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

#portfolio .portfolio_container .portfolio_item {
  background: #2c2c6c;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#portfolio .portfolio_container .portfolio_item:hover {
  border-color: rgba(77, 181, 255, 0.4);
  background: transparent;
}

#portfolio .portfolio_container .portfolio_item .portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

#portfolio .portfolio_container .portfolio_item h3 {
  margin: 1.2rem 0 2rem;
}

#portfolio .portfolio_container .portfolio_item .portfolio_item-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  #portfolio .portfolio_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  #portfolio .portfolio_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
  }
}

#services .services_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

#services .services_container .service {
  background: #2c2c6c;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid #4db5ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#services .services_container .service:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}

#services .services_container .service .service_head {
  background: #4db5ff;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  -webkit-box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

#services .services_container .service .service_head h3 {
  color: #1f1f38;
  text-align: center;
  font-size: 1rem;
}

#services .services_container .service .service_list {
  padding: 2rem;
}

#services .services_container .service .service_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

#services .services_container .service .service_list li .service_list-icon {
  color: #4db5ff;
  margin-top: 3px;
}

#services .services_container .service .service_list p {
  font-size: 0.9rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  #services .services_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #services .services_container .service {
    height: auto;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  #services .services_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

#testimonials .testimonials_container {
  width: 40%;
}

#testimonials .testimonials_container .testimonial {
  background: #2c2c6c;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#testimonials .testimonials_container .testimonial .client_avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.4rem solid rgba(77, 181, 255, 0.4);
}

#testimonials .testimonials_container .testimonial .client_review {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #4db5ff;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  #testimonials .testimonials_container {
    width: 60%;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  #testimonials .testimonials_container {
    width: 90%;
  }
  #testimonials .testimonials_container .testimonial .client_review {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */