#experience {
    .experience_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        .experience_frontend, .experience_backend {
            background: $colorbgVariant;
            padding: 2.4rem 5rem;
            border-radius: 2rem;
            border: 1px solid transparent;
            transition: $transition400;
            &:hover {
                background: transparent;
                border-color: $colorprimaryVariant;
                cursor: default;
            }
            h3 {
                color: $colorPrimary;
                text-align: center;
                margin-bottom: 2rem;
            }
            .experience_content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 2rem;
                article {
                    margin: 0 auto;
                }
                .experience_details {
                    display: flex;
                    gap: 1rem;
                }
                .experience_details-icon {
                    margin-top: 6px;
                    color: $colorPrimary;
                }
            }
        }
    }
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    #experience {
        .experience_container {
            grid-template-columns: 1fr;
            .experience_frontend, .experience_backend {
                width: 80%;
                padding: 2rem;
                margin: 0 auto;
                &:hover {
                }
                h3 {
                }
                .experience_content {
                    padding: 1rem;
                    article {
                    }
                    .experience_details {
                    }
                    .experience_details-icon {
                    }
                }
            }
        }
    }
}
/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
    #experience {
        .experience_container {
            gap: 1rem;
            .experience_frontend, .experience_backend {
                width: 100%;
                padding: 2rem 1rem;
                &:hover {
                }
                h3 {
                }
                .experience_content {
                    article {
                    }
                    .experience_details {
                    }
                    .experience_details-icon {
                    }
                }
            }
        }
    }
}